Text, TextField, PasswordField, Button, CheckBox, ToggleButton {
    -fx-font-family: "PT Sarif";
    -fx-font-size: 16;
    -fx-font-weight: bold;
}


.background{
    -fx-background-image: url("/de/uniks/stp24/assets/backgrounds/background.png");
    -fx-background-size: cover;
}

.cardBackground{
    -fx-background-image: url("/de/uniks/stp24/assets/backgrounds/card.png");
    -fx-background-size: 100% 100%;
}

.chat-bubble {
    -fx-shape: "M 20 0 H 280 A 20 20 0 0 1 300 20 V 80 A 1000000000 20 0 0 1 280 80 H 40 L -10 100 L 10 80 A 20 20 0 0 1 20 60 Z";
    -fx-background-color: #FFD966;
    -fx-background-insets: 0,1;
    -fx-padding: 30;
}


