/*++++++++++++++++++++++++++++++++++******************************************************/
/********* General ***********************************************************************/

Text, TextField, PasswordField, Button, CheckBox, ToggleButton {
    -fx-font-family: "PT Sarif";
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.borderedText {
    -fx-border-color: #000000;
    -fx-border-width: 5;
}

.capitals {
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

/*********************************************************************************************/
/********* Backgrounds ***********************************************************************/

.background{
    -fx-background-image: url("/de/uniks/stp24/assets/backgrounds/background.png");
    -fx-background-size: cover;
}

.cardBackground{
    -fx-background-image: url("/de/uniks/stp24/assets/backgrounds/card.png");
    -fx-background-size: 100% 100%;
}

.transparentBackground {
    -fx-background-color: #BF900080;
}

.backgroundLightYellow {
    -fx-background-color: #FFD966;
    -fx-border-color: #000000;
    -fx-border-width: 1;
}

.menuLogic {
    -fx-background-color: #999999;
    -fx-border-color: #000000
}

/************************************************************************************/
/***************** Buttons *********************************************************/

.languageButton:selected {
    -fx-font-family: "PT Sarif";
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-background-color: #BF9000;
    -fx-text-fill: WHITE;
}

.languageButton {
    -fx-font-family: "PT Sarif";
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-background-color: #FFD966;
    -fx-text-fill: BLACK;
}





.upButton {
    -fx-background-color: transparent;
    -fx-background-image: url("/de/uniks/stp24/icons/up.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
}

.downButton {
    -fx-background-color: transparent;
    -fx-background-image: url("/de/uniks/stp24/icons/down.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
}

.lockButton {
    -fx-background-image: url("Icons/unlock.png");
    -fx-background-color: WHITE;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
}
.lockButton:selected {
    -fx-background-image: url("Icons/lock.png");
    -fx-background-color: WHITE;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
}

.actionButton{
    -fx-font-family: "PT Sarif";
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-background-image: url("/de/uniks/stp24/assets/buttons/actionButton.png");
    -fx-background-size: inherit;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-pref-width: 300px;
    -fx-pref-height: 75px;
}

.smallActionButton{
    -fx-font-family: "PT Sarif";
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-background-image: url("/de/uniks/stp24/assets/buttons/actionButton.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 20;
    -fx-border-width: 0;
    -fx-pref-width: 230px;
    -fx-pref-height: 75px;
}

.eyeButton{
    -fx-background-image: url("/de/uniks/stp24/icons/eye.png");
    -fx-background-color: transparent;
    -fx-background-size: inherit;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
}

.rememberMe {
    -fx-font-family: "PT Sarif";
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-background-image: url("/de/uniks/stp24/assets/buttons/actionButton.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-width: 1;
    -fx-border-color: BLACK;
    -fx-pref-width: 300px;
    -fx-pref-height: 50px;
}


.backButton{
    -fx-font-family: "PT Sarif";
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-background-image: url("/de/uniks/stp24/assets/buttons/backButton.png");
    -fx-background-size: inherit;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-pref-width: 200px;
    -fx-pref-height: 75px;
}

.licensesButton{
    -fx-font-family: "PT Sarif";
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-background-image: url("/de/uniks/stp24/assets/buttons/licensesButton.png");
    -fx-background-size: inherit;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-pref-width: 200px;
    -fx-pref-height: 100px;
}

.chatBubble {
    -fx-shape: "M 20 0 H 280 A 20 20 0 0 1 300 20 V 80 A 1000000000 20 0 0 1 280 80 H 40 L -10 100 L 10 80 A 20 20 0 0 1 20 60 Z";
    -fx-background-color: #FFD966;
    -fx-background-insets: 0,1;
    -fx-padding: 30;
}

.inputField {
    -fx-font-family: "PT Sarif";
    -fx-font-size: 22;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-background-image: url("/de/uniks/stp24/assets/fields/textField.png");
    -fx-background-size: inherit;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-pref-width: 400px;
    -fx-pref-height: 65px;
}

.browseGameList .list-cell{
    -fx-text-fill: Black;
    -fx-background-color: #FFD966;
    -fx-border-color: Black;
}

.browseGameList .list-cell:selected{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #CF2A27;
}




/**********************************************************************************************/
/********************** Empire Screen ********************************************************/

.gangNameLabel {
    -fx-font-family: "PT Sarif";
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.semiTransparent{
    -fx-background-color: rgba(191, 144, 0, 0.7);
}

.textFieldGang {
    -fx-font-family: "PT Sarif";
    -fx-font-size: 32;
    -fx-font-weight: bold;
}

.textDeleteGang {
    -fx-font-family: "PT Sarif";
    -fx-font-size: 24;
}

.bigButton {
    -fx-font-family: "PT Sarif";
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-background-color: #FFD966;
}

.normalButton {
    -fx-font-family: "PT Sarif";
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-background-color: #FFD966;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}