.rightTriangleButton {
    -fx-background-color: transparent;
    -fx-background-image: url("/de/uniks/stp24/assets/buttons/arrow_right.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-pref-width: 35px;
    -fx-pref-height: 35px;
}

.leftTriangleButton {
    -fx-background-color: transparent;
    -fx-background-image: url("/de/uniks/stp24/assets/buttons/arrow_left.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-pref-width: 35px;
    -fx-pref-height: 35px;
}

.closeButton {
    -fx-background-color: transparent;
    -fx-background-image: url("/de/uniks/stp24/assets/buttons/close_window_button.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-pref-width: 45px;
    -fx-pref-height: 45px;
}

.acceptButton{
    -fx-background-color: transparent;
    -fx-background-image: url("/de/uniks/stp24/assets/buttons/accept_button.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-pref-width: 35px;
    -fx-pref-height: 35px;
}

.declineButton{
    -fx-background-color: transparent;
    -fx-background-image: url("/de/uniks/stp24/assets/buttons/decline_button.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-pref-width: 35px;
    -fx-pref-height: 35px;
}

.buildButton{
    -fx-background-color: transparent;
    -fx-background-image: url("/de/uniks/stp24/assets/buttons/build_button.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
}

.deleteButton{
    -fx-background-color: transparent;
    -fx-background-image: url("/de/uniks/stp24/assets/buttons/delete_button.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
}


.storageOverviewButton {
    -fx-background-color: transparent;
    -fx-background-image: url("/de/uniks/stp24/assets/buttons/storage_button.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-pref-width: 45px;
    -fx-pref-height: 45px;
}

.jobsOverviewButton {
    -fx-background-color: transparent;
    -fx-background-image: url("/de/uniks/stp24/assets/buttons/job_overview_button.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-pref-width: 45px;
    -fx-pref-height: 45px;
}

.empireOverviewButton {
    -fx-background-color: transparent;
    -fx-background-image: url("/de/uniks/stp24/assets/buttons/empire_overview_button.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-pref-width: 45px;
    -fx-pref-height: 45px;
}

.technologiesOverviewButton {
    -fx-background-color: transparent;
    -fx-background-image: url("/de/uniks/stp24/assets/buttons/technology_button.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-pref-width: 45px;
    -fx-pref-height: 45px;
}

.islandChangeNameDisabled {
    -fx-background-color: transparent;
    -fx-background-image: url("/de/uniks/stp24/assets/buttons/change_islandName.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.islandChangeNameActive {
    -fx-background-color: transparent;
    -fx-background-image: url("/de/uniks/stp24/assets/buttons/confirm_islandName2.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
