.marketBackground{
    -fx-background-image: url("/de/uniks/stp24/assets/market/market_background.png");
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
}

.closeWindowButton{
    -fx-background-image: url("/de/uniks/stp24/assets/empireOverview/close_window_button.png");
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
}

.marketTitle{
    -fx-font-family: "Baskerville Old Face";
    -fx-fill: white;
    -fx-font-size: 38;
}

/*Buttons*/

.alloysButton{
    -fx-background-image: url("/de/uniks/stp24/assets/market/buttons/alloys.png");
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
}

.consumerGoodButton{
    -fx-background-image: url("/de/uniks/stp24/assets/market/buttons/consumer_goods.png");
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
}

.energyButton{
    -fx-background-image: url("/de/uniks/stp24/assets/market/buttons/energy.png");
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
}

.foodButton{
    -fx-background-image: url("/de/uniks/stp24/assets/market/buttons/food.png");
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
}

.fuelButton{
    -fx-background-image: url("/de/uniks/stp24/assets/market/buttons/fuel.png");
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
}

.mineralButton{
    -fx-background-image: url("/de/uniks/stp24/assets/market/buttons/minerals.png");
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
}

.listViewStyle .list-cell{
    -fx-background-color: transparent;
}

.creditCoinIcon{
    -fx-background-image: url("/de/uniks/stp24/icons/resources/credits.png");
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
}

.upArrowButton{
    -fx-background-image: url("/de/uniks/stp24/assets/market/buttons/up_arrow_button.png");
    -fx-background-color: transparent;
    -fx-background-size: 60% 60%;
    -fx-background-repeat: no-repeat;
}

.downArrowButton{
    -fx-background-image: url("/de/uniks/stp24/assets/market/buttons/down_arrow_button.png");
    -fx-background-color: transparent;
    -fx-background-size: 60% 60%;
    -fx-background-repeat: no-repeat;
}

.marketFeeIcon{
    -fx-background-image: url("/de/uniks/stp24/assets/market/market_fee.png");
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
}


