@font-face {
    font-family: 'Blackadder ITC';
    src: url("/de/uniks/stp24/fonts/Blackladder.ttf");
}

@font-face {
    font-family: 'Tempus Sans ITC';
    src: url("/de/uniks/stp24/fonts/TempusSans.ttf");
}

@font-face {
    font-family: 'Stencil';
    src: url("/de/uniks/stp24/assets/fonts/Stencil.ttf");
}

@font-face {
    font-family: 'Baskerville Old Face';
    src: url("/de/uniks/stp24/fonts/Baskerville.ttf");
}

.technologieText {
    -fx-font-family: 'Baskerville Old Face';
    -fx-font-size: 48;
    -fx-opacity: 1;
}

.mainButtons {
    -fx-font-family: Stencil;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-background-image: url("/de/uniks/stp24/assets/buttons/blue_button_element.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.technologiesBackground {
    -fx-background-color: transparent;
    -fx-background-image: url("/de/uniks/stp24/assets/backgrounds/technologies_selectCategory_background.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.technologiesCategoryBackground {
    -fx-background-color: transparent;
    -fx-background-image: url("/de/uniks/stp24/assets/backgrounds/technologies_chooseResearch_background.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.technologiesActualResearchBackground {
    -fx-background-color: transparent;
    -fx-background-image: url("/de/uniks/stp24/assets/backgrounds/technologies_actualResearch_background.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.technologyCategoriesLabel {
    -fx-font-family: "Tempus Sans ITC";
}

.technologyCategoryTitle {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.currentResearchLabel {
    -fx-font-family: "Tempus Sans ITC";
    -fx-font-weight: bold;
}

.technology-list {
    -fx-background-color: transparent;
}

.technology-list .list-cell {
    -fx-background-color: transparent;
    -fx-background-image: url("/de/uniks/stp24/assets/backgrounds/red_frame.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.technology-list .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
    -fx-background-size: auto;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 15px;
    -fx-pref-height: 15px;
    -fx-background-image: url("/de/uniks/stp24/icons/scroller.png");
}

.technology-list .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-border-width: 1;
}

.technology-list .scroll-bar:vertical .increment-button .increment-arrow, .list-view .scroll-bar .decrement-button .decrement-arrow {
    -fx-background-color: transparent;
    -fx-background-image: none;
}

.description-list .list-cell {
    -fx-background-color: transparent;
}

